/* ========= media query ======= */
@media only screen and (max-width: 600px){
    .navbar .navbar__left .searchbox {
        background: transparent;
        width: auto;
        padding: 0;
        margin-left: 10px;
    }
    .navbar .navbar__left .searchbox input {
        width: 0;
        padding: 0;
    }

    .searchbox input {
        width: 0;
        padding: 0;
    }

    .navbar .navbar__center ul li a {
        padding-right: 0;
        margin: 5px;
    }

    .container {
        padding: 15px 35;
    }

    .container .container__left-sidebar, .container__right-sidebar {
        flex-basis: 100%;
        position: relative;
        top: unset;
    }

    .container__main-content{
        flex-basis: 100%;

    }
    .post-stats  div{
        margin: 2px 0;

    }
    .post-activity span{
        display: none;
    }

    .post-activity img{
        margin-right: 0;
    }

}